# Para utilizar, copiar este archivo, en un archivo .env de manera local.

OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CORREO_REMITENTE=xxxxxx@gmail.com

# App password de Gmail (16 caracteres, sin espacios).
# Para generarla se necesita 2FA activado 
# https://myaccount.google.com/apppasswords
CORREO_APP_PASSWORD=xxxxxxxxxxxxxxxx
